// flex container for navigation and view content
.layoutContainer {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 28%;
  left: 130px !important;
  position: fixed;
  border: 1px solid;
  background-color: white;
  z-index: 1;
}

.flexItemNavigation {
  height: 500px;
  float: left;
  width: 100%;
}

.splitter {
  background-color: #eaeaea;
  min-width: 12px;
  float: left;
}

.fa-caret-right,
.fa-caret-left {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 49%;
}
.selectedRow {
  background-color: #0381c5 !important;
  color: #fff !important;
}
.flexItemContent {
  overflow-x: auto;
}
table {
  width: 100%;

  td {
    padding: 5px 0;
  }

  tr:hover {
    background-color: #f5f5f5 !important;
    cursor: pointer;
    background-color: #eaeaea;
    color: #333;
  }
}
.alignCenter {
  text-align: center;
}
.seperator {
  border-bottom: 1px solid #a9a9a9 !important;
  margin-left: 5px;
  margin-right: 5px;
}

select {
  width: 100%;
  border: none;
  box-shadow: none;
}
.flexItemNavigation {
  padding: 10px;
}

.selectedRow td {
  background-color: #0381c5 !important;
  color: #ffffff !important;
}
label {
  margin-bottom: 0;
}
.showLess {
  position: absolute;
  bottom: 0;
  font-size: 10px;
}
.property {
  cursor: pointer;
}

// Portrait
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .layoutContainer {
    width: 55%;
  }
}
// Landscape
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
   .layoutContainer {
    width: 55%;
  }
}
.property{
    cursor:pointer
}
.portfolio-icon{
    height: 12px;
}
.fa-search{
    color:#fff;
}
