// flex container for navigation and view content
.layoutContainer {
    min-height: 100%;
}

.splitter {
    background-color: #c4bebe;
    min-width: 2px;
}

.fa-caret-right, .fa-caret-left {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 49%;
}

.flexItemContent {
    overflow-x: auto
}

.flexItemNavigation{
    width:7%;
}