<div class="layoutContainer d-flex flex-row">
    <div class="flexItemNavigation" *ngIf="showLabels">
        <div class="flexItemNavigationContent">
            <app-navigation [showLabels]="showLabels"></app-navigation>
        </div>      
    </div>
    <div class="splitter">
        <i *ngIf="!showLabels" class="fa fa-caret-right" aria-hidden="true" (click)="toggleViewLabels()"></i>
        <i *ngIf="showLabels" class="fa fa-caret-left" aria-hidden="true" (click)="toggleViewLabels()"></i>
    </div>
    <div class="portfolioNavigation" *ngIf="viewPortfolio">
        <app-portfolio [showPortfolio]="showPortfolio"></app-portfolio>
    </div>
    <div class="flexItemContent flex-grow-1 repm5-container">
        <ngb-tabset *ngIf="tabs.length>0" [activeId]="tabService.activeUrl" (tabChange)="onTabChange($event)">
            <ngb-tab *ngFor="let tab of tabs ; let index = index" [id]="tab.tabId">
            <ng-template ngbTabTitle>
                <span style="text-transform: capitalize;">{{tab.name}}</span>
                <span (click)="closeTab(index, $event,tab.tabId)" class="closeTab mx-2">&times;</span>
                </ng-template>
            <ng-template ngbTabContent><router-outlet></router-outlet></ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>