// flex container for navigation and view content
.layoutContainer {
    min-height: 100%;
}

.splitter {
    background-color: #c4bebe;
    min-width: 2px;
}

.fa-caret-right, .fa-caret-left {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 49%;
}

.flexItemContent {
    overflow-x: auto
}

.flexItemNavigation{
    width:7%;
    position: fixed;
    left: 0;
    height: 100vh!important;
    border-right: 2px solid #9f9f9f;
}

.closeTab{
    position: relative;
    left: 9px;
    font-weight: 700;
}
@media (max-width: 992px) {
    .flexItemNavigation {
        width: 10%;
    }
}
@media (max-width: 768px){
    .flexItemNavigation {
        width: 14%;
    }
}
