<div class="pt-3">
  <tabset #dataLogTabs *ngIf="hide">
    <tab heading="Mapping Group X" id="tab1">
      <app-mapping-cards (onViewLogs)="viewLogs($event)"></app-mapping-cards>
    </tab>
    <tab heading="Mapping Group Y">
      <app-mapping-cards (onViewLogs)="viewLogs($event)"></app-mapping-cards>
    </tab>
    <tab heading="Mapping Group Z">
      <app-mapping-cards (onViewLogs)="viewLogs($event)"></app-mapping-cards>
    </tab>
    <tab heading="Mapping Group A">
      <app-mapping-cards (onViewLogs)="viewLogs($event)"></app-mapping-cards>
    </tab>
    <tab heading="Mapping Group B">
      <app-mapping-cards (onViewLogs)="viewLogs($event)"></app-mapping-cards>
    </tab>
  </tabset>
  <div *ngIf="!hide">
    <img src="./assets/img/import.png" class="w-100" alt="cockpit">
  </div>
</div>
