<div class="pt-3">
  <tabset #dataLogTabs>
    <tab heading="Mapping Group X" id="tab1">
      <app-mapping-cards></app-mapping-cards>
    </tab>
    <tab heading="Mapping Group Y">
      <app-mapping-cards></app-mapping-cards>
    </tab>
    <tab heading="Mapping Group Z">
      <app-mapping-cards></app-mapping-cards>
    </tab>
    <tab heading="Mapping Group A">
      <app-mapping-cards></app-mapping-cards>
    </tab>
    <tab heading="Mapping Group B">
      <app-mapping-cards></app-mapping-cards>
    </tab>
  </tabset>
</div>
