<div>
	<!-- <app-svg-icons *ngIf="showPrevNext()" id="previous" [key]="previousKey" [height]="svgHeight" class="pointer"
		[fillColor]="svgFillColor" (click)="navigate('previous')"></app-svg-icons>

	<app-svg-icons *ngIf="showPrevNext()" id="next" [key]="nextKey" [height]="svgHeight" [fillColor]="svgFillColor"
		class="pointer" (click)="navigate('next')"></app-svg-icons> -->
	<img class="prev-next pointer"  *ngIf="showPrevNext()" src="../../../../assets/img/house-arrow-left.svg">
	<span> {{ header }} </span>
	<img class="prev-next pointer"  *ngIf="showPrevNext()" src="../../../../assets/img/house-arrow-right.svg">
</div>