<div>
	<!-- <app-svg-icons *ngIf="showPrevNext()" id="previous" [key]="previousKey" [height]="svgHeight" class="pointer"
		[fillColor]="svgFillColor" (click)="navigate('previous')"></app-svg-icons>

	<app-svg-icons *ngIf="showPrevNext()" id="next" [key]="nextKey" [height]="svgHeight" [fillColor]="svgFillColor"
		class="pointer" (click)="navigate('next')"></app-svg-icons> -->
	<img class="prev-next pointer"  *ngIf="headerType=='property'" src="./assets/img/back.svg">
	<span class="cursor-pointer" (click)="navigate('portfolio', '', '')"> {{ header }}&nbsp;<i *ngIf="headerType!='property'"  class="fa fa-caret-down"></i> </span>
	<img class="prev-next pointer"  *ngIf="headerType=='property'" src="./assets/img/next.svg">

</div>