<p-table #dt [value]="tasks" [(selection)]="selectedTasks" dataKey="id" styleClass="ui-table-task" [rowHover]="true"
    [rows]="10" [showCurrentPageReport]="false" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [(first)]="first"
    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0" [globalFilterFields]="['assignee','process.name','creator.name','status']" [scrollable]="true">
    <ng-template pTemplate="caption">
        <div class="ui-table-globalfilter-container search">
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search Task" />
            <!-- <button type="button" class="btn btn-primary search-btn">Search</button> -->
            <!-- <button type="button" class="btn btn-primary create-task-btn">Create Task</button> -->
        </div>
    </ng-template>
    <ng-template pTemplate="colgroup">
        <colgroup>
          <col style="width:150px;">
          <col style="width:80px;">
          <col style="width:150px;">
          <col style="width:150px;">
          <col style="width:150px;">
          <col style="width:150px;">
          <col style="width:150px;">
          <col style="width:150px;">
          <col style="width:150px;">
          <col style="width:150px;">
        </colgroup>
      </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
            <th pSortableColumn="p">P <p-sortIcon field="p"></p-sortIcon></th>
            <th pSortableColumn="process.name">Process <p-sortIcon field="process.name"></p-sortIcon></th>
            <th pSortableColumn="key">Key <p-sortIcon field="key"></p-sortIcon></th>
            <th pSortableColumn="date">Created <p-sortIcon field="date"></p-sortIcon></th>
            <th pSortableColumn="summary">Summary <p-sortIcon field="summary"></p-sortIcon></th>       
            <th pSortableColumn="assignee">Assignee <p-sortIcon field="assignee"></p-sortIcon></th>       
            <th pSortableColumn="creator.name">Creator <p-sortIcon field="creator.name"></p-sortIcon></th>
            <th pSortableColumn="startdate">Start Date <p-sortIcon field="startdate"></p-sortIcon></th>
            <th pSortableColumn="deadline">Deadline <p-sortIcon field="deadline"></p-sortIcon></th>
            <!-- <th pSortableColumn="activity">Activity <p-sortIcon field="activity"></p-sortIcon></th> -->
        </tr>
   
    </ng-template>
    <ng-template pTemplate="body" let-task>
        <tr class="ui-selectable-row">        
            <td><span [class]="'task-badge status-' + task.status">{{task.status | uppercase}}</span></td>
            <td>{{task.p}}</td>
            <td> <span style="vertical-align: middle; margin-left: .5em">{{task.process.name}}</span> </td>
            <td>  {{task.key}} </td>
            <td><span style="vertical-align: middle; margin-left: .5em">{{task.createddate}}</span> </td>
            <td>
                <span style="vertical-align: middle; margin-left: .5em">{{task.summary}}</span>
            </td>
            <td>
                <span style="vertical-align: middle; margin-left: .5em">{{task.assignee}}</span>
            </td>
            <td>{{task.creator.name}}</td>
            <td>{{task.startdate}}</td>
            <td>{{task.deadline}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8" style="text-align:left">No task found.</td>
        </tr>
    </ng-template>
</p-table>