.search{
    text-align: left;
    }
    .ui-inputtext {
        font-weight: normal;
        width: 50%!important;
    }
    .search-btn{
        padding:7px 15px;
        margin-left: 10px;
    }
    .create-task-btn{
        padding:7px 15px;
        margin-left: 10px;
        float: right;
        font-weight: 600;
      color: #ffffff;
      background-color:#005684;
      border-color: #005684;
    }
  
    .ui-table-task.ui-table-caption.ui-widget-header.ng-star-inserted
    {
        background-color: red!important;
    }
  
    .status-open{
      background-color: #dfe1e5;
      border-color: #dfe1e5;
      color: #42526e;
      padding: 2px 10px;
      border-radius: 4px;
    }
    .status-in{
      background-color: #deebff;
      border-color: #deebff;
      color: #0747a6;
      padding: 2px 10px;
      border-radius: 4px;
    }
  
    .status-archived{
      background-color: #e3fcef;
      border-color: #e3fcef;
      color: #064;
      padding: 2px 10px;
      border-radius: 4px;
    }
  
    .status-closed{
      background-color: #e3fcef;
      border-color: #e3fcef;
      color: #064;
      padding: 2px 10px;
      border-radius: 4px;
    }
  
    .status-specified{
      background-color: #dfe1e5;
      border-color: #dfe1e5;
      color: #42526e;
      padding: 2px 10px;
      border-radius: 4px;
    }