.search{
text-align: left;
}
.ui-inputtext {
    font-weight: normal;
  /*   float: left!important; */
    width: 50%!important;
}
.search-btn{
    padding:7px 15px;
    margin-left: 10px;
}
.create-task-btn{
    padding:7px 15px;
    margin-left: 10px;
    float: right;
}