app-profitAndLossPortfolio {
    .controlStyle {
      background-color:  $theme-background-color-standard;
    }
  
    .inlineScenario span {
      color:$fore-color-icon-standard !important;
    }
  
    .inlineScenario {
      color: $fore-color-icon-standard!important;
    }
  }